<section id="realizations" class="min-vh-100 pt-5">
<div class="container-fluid container-xl pt-5">
<h2 class="text-center">Nasze realizacje</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-4">
  {{#realizations}}
    {{>realizationCard}}
  {{/realizations}}
</div>
<!-- {{#realizations}}
<tr>
  <th scope="row">{{@index}}</th>
  <td>{{this.title}}</td>
  <td>{{dateFormat this.createdAt}}</td>
  <td>{{this.description}}</td>
  <td colspan="2">
      <a href="realizations/{{this.slug}}" class="btn btn-primary pull-left">Pokaż</a>
      <form class="d-inline" action="/sun/adminPanel/realizations/{{this._id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Usuń</button>
      </form>
  </td>
</tr>
{{/realizations}} -->

  {{>main/divider}}
</div>
</section>
