<section id="realizations" style="height: 100vh; padding-top: 300px">
<div class="container-fluid">
<h2>realizations</h2>

<div class="card-columns">
  {{#realizations}}
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text"><small class="text-muted">{{dateFormat this.createdAt}}</small></p>
    </div>
  </div>
  {{/realizations}}
</div>
<!-- {{#realizations}}
<tr>
  <th scope="row">{{@index}}</th>
  <td>{{this.title}}</td>
  <td>{{dateFormat this.createdAt}}</td>
  <td>{{this.description}}</td>
  <td colspan="2">
      <a href="realizations/{{this.slug}}" class="btn btn-primary pull-left">Pokaż</a>
      <form class="d-inline" action="/sun/adminPanel/realizations/{{this._id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Usuń</button>
      </form>
  </td>
</tr>
{{/realizations}} -->


</div>
</section>
