<section id="realizations" class="min-vh-100 pt-5">
<div class="container-fluid container-xl pt-5">
<h2 class="text-center">Nasze realizacje</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-4">
  {{#realizations}}
  <div class="col realization-card">
    <div class="card h-100 mt-2">
      <div class="layer">

      </div>
      <img src="{{this.topImage}}" class="card-img px-3 pt-3" alt="...">
      <div class="card-body pb-0">
        <h6 class="card-title">{{this.title}}</h6>
        <p class="card-text">{{this.description}}</p>
      </div>
      <div class=" row card-footer pt-0">
        <p class="card-text my-auto pl-3"><small class="text-muted">{{dateFormat this.createdAt}}</small></p>
        <a href="testapp/{{this.slug}}" class="btn ml-auto mr-2" type="button" name="button">
          <i class="fas fa-chevron-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  {{/realizations}}
</div>
<!-- {{#realizations}}
<tr>
  <th scope="row">{{@index}}</th>
  <td>{{this.title}}</td>
  <td>{{dateFormat this.createdAt}}</td>
  <td>{{this.description}}</td>
  <td colspan="2">
      <a href="realizations/{{this.slug}}" class="btn btn-primary pull-left">Pokaż</a>
      <form class="d-inline" action="/sun/adminPanel/realizations/{{this._id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Usuń</button>
      </form>
  </td>
</tr>
{{/realizations}} -->

  {{>main/divider}}
</div>
</section>
