<div class="container">
  <a href="opinions/newOpinion" class="btn btn-success">Dodaj</a>
  <h2>Lista opinii</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <!-- <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Treść opinii</th>
          <th scope="col">Autor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#opinions}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.content}}</td>
          <td>{{this.autor}}</td>
          <td colspan="2">
              <a href="realizations/{{this._id}}" class="btn btn-primary pull-left">Pokaż</a>
              <form class="d-inline" action="/testapp/adminPanel/opinions/{{this._id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit">Usuń</button>
              </form>
          </td>
        </tr>
        {{/opinions}}
      </tbody> -->
    </table>
  </div>
</div>
