{{>admin/header}}
<div class="container pt-5">
  <div class="pb-2 pt-5">
    <a href="opinions/newOpinion" class="btn btn-sm d-inline-flex align-items-center justify-content-center"><span class="fas fa-plus-circle fa-2x"></span><span class="pl-3">Dodaj nową opinię</span></a>
  </div>
  <h2>Lista opinii</h2>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Treść opinii</th>
          <th scope="col">Autor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#opinions}}
        <tr class="text-center">
          <th scope="row">{{@index}}</th>
          <td>{{this.content}}</td>
          <td>{{this.author}}</td>
          <td colspan="2">
              <div class="col">
                  <a href="realizations/{{this.slug}}" class="btn btn-sm pull-left mb-1">Pokaż</a>
              </div>
              <form class="d-inline" action="/testapp/adminPanel/realizations/{{this._id}}?_method=DELETE" method="POST">
                <button class="btn" type="submit">Usuń</button>
              </form>
          </td>
        </tr>
        {{/opinions}}
      </tbody>
    </table>
  </div>
</div>
