<div class="container">
  <a href="realizations/newRealization" class="btn btn-success">Dodaj</a>
  <h2>Lista realizacji</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Tytuł</th>
          <th scope="col">Data stworzenia</th>
          <th scope="col">Opis</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#realizations}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.title}}</td>
          <td>{{dateFormat this.createdAt}}</td>
          <td>{{this.description}}</td>
          <td>{{this.topImage}}</td>
          <td colspan="2">
              <a href="realizations/{{this.slug}}" class="btn btn-primary pull-left">Pokaż</a>
              <form class="d-inline" action="/sun/adminPanel/realizations/{{this._id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit">Usuń</button>
              </form>
          </td>
        </tr>
        {{/realizations}}
      </tbody>
    </table>
  </div>
</div>
