<div class="container">
  <h1 class="mb-1">{{realization.title}}</h1>
  <div class="">
    {{dateFormat realization.createdAt}}
  </div>
  <a href="/sun/adminPanel/realizations" class="btn btn-secondary">Lista realizacji</a>
  <a href="/sun/adminPanel/realizations/edit/{{realization._id}}" class="btn btn-info">Edytuj</a>

  <form action="/sun/adminPanel/realizations/uploadmultiple/{{realization.slug}}"  enctype="multipart/form-data" method="POST">
    Select images: <input class="custom-file-input" type="file" name="myFiles" multiple>
    <input type="submit" value="Wgraj pliki" class="btn"/>
  </form>


  <div class="">
    {{{realization.sanitizedHtml}}}
  </div>
  <div class="">
    {{{realization.topImage}}}
  </div>

  </div>
</div>
